@model IEnumerable<Mymy.Models.Memo>

@{
    ViewBag.Title = "Index";
}

<h2>メモ一覧</h2>

<p>
    @Html.ActionLink("[メモ新規作成]", "Create")
</p>
<table class="table">
    <tr class="home-tr-header">
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th class="home-th"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemoId })
        </td>
    </tr>
}

</table>
