@model IEnumerable<Mymy.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
        </th>
        <th>
            プロジェクト
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TracId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Link2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Visible)
        </th>
        <th></th>
    </tr>
@if (Model.Any())
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">
                @Html.DisplayFor(modelItem => item.TracId)
            </a>
        </td>
        <td>
            @Html.ActionLink(item.Summary ?? "Edit", "Edit", new { id = item.TicketId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TicketId })　|
            @Html.ActionLink("Delete", "Delete", new { id = item.TicketId })
        </td>
    </tr>
    }
}
</table>