@model IEnumerable<Mymy.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>設定一覧</h2>

<p>
    @Html.ActionLink("[設定新規登録]", "Create")
</p>
<table class="table">
    <tr class="home-tr-header">
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th class="home-th"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SettingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SettingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SettingId })
        </td>
    </tr>
}

</table>
