@model Mymy.Models.HomeView
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@foreach (var setting in Model.Settings)
{
    <p>
        @Html.DisplayFor(modelItem => setting.Label) : @Html.DisplayFor(modelItem => setting.Memo)
    </p>
}
<hr />

@foreach (var projectTicket in Model.Projects)
{
<h4>
    @Html.ActionLink(projectTicket.ProjectName, "Edit", new { id = projectTicket.ProjectId, controller = "Projects" })

    @Html.ActionLink("[新規チケット登録]", "Create", new { projectId = projectTicket.ProjectId, controller = "Tickets" })

    @Html.ActionLink("[過去チケット]", "Index", new { projectId = projectTicket.ProjectId, controller = "Tickets" })
</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().TracId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().CsvTicket.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Link2)
            </th>
            @foreach (var customField in projectTicket.ProjectCustomFields)
    {
        <th>
            @Html.DisplayFor(modelItem => customField.FieldJapaneseName)
        </th>
}
            <th>
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().CsvTicket.DueClose)
            </th>
        </tr>
        @if (projectTicket.Tickets.Any())
        {
            foreach (var item in projectTicket.Tickets)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">
                    @Html.DisplayFor(modelItem => item.TracId)
                </a>
            </td>
            <td>
                @Html.ActionLink(item.CsvTicket.Summary?.Substring(0, Math.Min(item.CsvTicket.Summary.Length, 60)), "Edit", new { id = item.TicketId, controller = "Tickets", fromIndex = true })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link2)
            </td>
            @foreach (var customFieldItem in item.CsvTicket.CsvTicketCustoms)
    {
        <td>
            @Html.DisplayFor(modelItem => customFieldItem.FieldValue)
        </td>
}
            <td>
                @Html.DisplayFor(modelItem => item.CsvTicket.DueClose)
            </td>
        </tr>
            }
        }
    </table>
}