@model Mymy.Models.HomeView
@{
    ViewBag.Title = "Home";
}

<h2></h2>

@foreach (var setting in Model.Settings)
{
    <p>
        @Html.DisplayFor(modelItem => setting.Label) : @Html.DisplayFor(modelItem => setting.Memo)
    </p>
}
<hr />

@foreach (var projectTicket in Model.Projects)
{
<h4 class="home-h4-project">
    @Html.ActionLink(projectTicket.ProjectName, "Edit", new { id = projectTicket.ProjectId, controller = "Projects" }, new {@class = "home-a-project" })
    <div id="home-h4-link" style="float:right; margin-right:20px;">
        <a href='@Url.Action("Create", "Tickets", new { projectId = projectTicket.ProjectId })'><img src='@Url.Content("~/Images/icon-plus.png")' /></a>

        <a href='@Url.Action("Index", "Tickets", new { projectId = projectTicket.ProjectId })'><img src='@Url.Content("~/Images/icon-list.png")' /></a>
    </div>
</h4>

    <table class="table">
        <tr class="home-tr-header">
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Category)
            </th>
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().TracId)
            </th>
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().CsvTicket.Summary)
            </th>
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Status)
            </th>
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Memo)
            </th>
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().Link2)
            </th>
            @foreach (var customField in projectTicket.ProjectCustomFields)
            {
                <th class="home-th">
                @Html.DisplayFor(modelItem => customField.FieldJapaneseName)
                </th>
            }
            <th class="home-th">
                @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().Tickets.FirstOrDefault().CsvTicket.DueClose)
            </th>
        </tr>
        @if (projectTicket.Tickets.Any())
        {
            foreach (var item in projectTicket.Tickets)
            {
        <tr>
            <td>
                @foreach (var category in item.Categories)
                {
                    <p class="p-category">
                    @Html.DisplayFor(modelItem => category)
                    </p>
                }
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">
                    @Html.DisplayFor(modelItem => item.TracId)
                </a>
            </td>
            <td>
                <div class="td-summary">
                    @Html.ActionLink(item.CsvTicket.Summary?.Substring(0, Math.Min(item.CsvTicket.Summary.Length, 60)), "Edit", new { id = item.TicketId, controller = "Tickets", fromIndex = true })
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link2)
            </td>
            @foreach (var customFieldItem in item.CsvTicket.CsvTicketCustoms)
    {
        <td>
            @Html.DisplayFor(modelItem => customFieldItem.FieldValue)
        </td>
}
            <td>
                @Html.DisplayFor(modelItem => item.CsvTicket.DueClose)
            </td>
        </tr>
            }
        }
    </table>
}