@model Mymy.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>プロジェクトカスタム項目一覧</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Column)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Column)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailMemo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailMemo)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("[新規カスタム項目追加]", "Create", new { projectid = Model.ProjectId, controller = "ProjectCustomFields" })
</p>
<table class="table">
    <tr class="home-tr-header">
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectCustomFields.First().Field)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectCustomFields.First().FieldJapaneseName)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectCustomFields.First().Visible)
        </th>
        <th class="home-th"></th>
    </tr>

    @foreach (var item in Model.ProjectCustomFields)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Field)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldJapaneseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.ActionLink("[編集]", "Edit", new { id = item.ProjectCustomFieldId, controller = "ProjectCustomFields" }) |
                @Html.ActionLink("[削除]", "Delete", new { id = item.ProjectCustomFieldId, controller = "ProjectCustomFields" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("[プロジェクト編集]", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("[プロジェクト一覧へ戻る]", "Index")
</p>
