@model IEnumerable<Mymy.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>プロジェクト一覧</h2>

<p>
    @Html.ActionLink("[プロジェクト新規作成]", "Create")
</p>
<table class="table">
    <tr class="home-tr-header">
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th class="home-th"></th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.ProjectUrl)
        </th>
        <th class="home-th">
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th class="home-th"></th>
        <th class="home-th"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ProjectName)*@
            @Html.ActionLink(item.ProjectName, "Edit", new { id = item.ProjectId })
        </td>
        <td>
            @Html.ActionLink("[カスタム項目編集]", "Details", new { id = item.ProjectId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.ActionLink("[新規チケット登録]", "Create", new { projectId = item.ProjectId, controller = "Tickets" })
            　
            @Html.ActionLink("[過去チケット]", "Index", new { projectId = item.ProjectId, controller = "Tickets" })
        </td>
        <td>
            @Html.ActionLink("[削除]", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
